---
import BaseLayout from "../layouts/BaseLayout.astro";
import FloatingBar from "../components/FloatingBar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import CaseStudyGuusto from "../components/CaseStudyGuusto.astro";
import CurrentProjects from "../components/CurrentProjects.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import References from "../components/References.astro";
import Contact from "../components/Contact.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout>
  <FloatingBar />
  <main id="main-content">
    <Hero />
    <About />
    <CaseStudyGuusto />
    <CurrentProjects />
    <References />
    <Experience />
    <Skills />
    <Contact />
  </main>
  <SiteFooter />
</BaseLayout>
